
<br />
<br />
<br />
@{
    var userList = ViewBag.userList;
}


<div class="row">

    <div class="jumbotron col-lg-6">
        <h2>Iniciar sesion</h2>
        <p class="lead">Por favor selccione un usuario con el que desea realizar una transaccion</p>

        <select class="form-control" id="dropdownOne" name="dropdownOne">
            @foreach (var user in userList)
            {
                <option value="@user.user_id">@user.nombre</option>
            }
        </select>
        <br />
        <br />
        <p><a  id="btnIniciar" class="btn btn-primary btn-block">iniciar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Ver documentacion de API</h2>
        <p>
            Aqui podras ver la documentacion del APIcreada para esta test
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")" target="_blank">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ver repositorio del codigo</h2>
        <p>Aui podras encontrar el repositoriopublico en mi GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/antarescor/StefaniniApiTest" target="_blank">Ir &raquo;</a></p>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    var btnIniciar = $('#btnIniciar');

    $("#btnIniciar").click(function () {
        var valueSelect = $('#dropdownOne').val();
        var url = '@Url.Action("TransactionView", "Home", new { user_id = "__id__" })';
        window.location.href = url.replace('__id__', valueSelect);
    });

</script>
